.ui-slider {
    margin-top: 20px;
    height: 7px;
    position: relative;
    border: none;
    background: linear-gradient(90deg, rgba(87,230,135,1) 0%, rgba(136,207,254,1) 100%) !important;
    height: 30px !important;
    border-radius: 30px !important;
}
main .ui-state-default, main .ui-widget-content .ui-state-default, main .ui-widget-header .ui-state-default {
    background: #CCC !important;
    border-radius: 0px;
    outline: none;
    border: 0px solid #fff;
    position: absolute;
    top: 0px !important;
    height: 29px !important;
    width: 10px !important;
}
.ui-slider-horizontal .ui-slider-range {
    background: #FFD324 !important;
    height: 30px !important;
}
#labelHolder {
    height: 15px;
    position: relative;
    border: none;
}
span {
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  margin-left: -.6em;
  text-align: center;

  top: 42px;
  z-index: 5;
}


/* setting page */
span.text {
  top: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
span#text-0 {
    left: 25px;
    color: #7CF4A4;
}
span#text-1 {
    left: 130px;
    color: #FFD324;
}
span#text-2 {
    left: 300px;
    color: #88CFFE;
}
.nav
{
  display:block;
  font:13px Helvetica,Tahoma,serif;
  text-transform:uppercase;
  margin:0;
  padding:0;
  position:absolute;
  top:0;
  left:0
}

.nav li
{
  display:inline-block;
  list-style:none
}

.nav .button-dropdown
{
  position:relative
}

.nav li a
{
  display:block;
  color:#333;
  padding:10px 20px;
  text-decoration:none
}

.nav li a span
{
  display:inline-block;
  margin-left:5px;
  font-size:10px;
  color:#999
}

.nav li a.dropdown-toggle.active
{
  background-color:#289dcc;
  color:#fff
}

.nav li a:hover span,.nav li a.dropdown-toggle.active span
{
  color:#fff
}

.nav li .dropdown-menu
{
  display:none;
  position:absolute;
  left:0;
  padding:0;
  margin:0;
  margin-top:3px;
  text-align:left
}

.nav li .dropdown-menu.active
{
  display:block
}

.nav li .dropdown-menu a
{
  width:110px;
  border-bottom:1px solid #ccc;
  background-color:#fff
}

*
{
  box-sizing:border-box
}

a
{
  text-decoration:none
}

body
{
  font-family:'Roboto',sans-serif;
  font-style:normal;
  font-weight:400;
  background:linear-gradient(359.38deg,#FAFAFA 0.36%,rgba(250,250,250,0.68) 99.64%)
}

.notification
{
  position:absolute;
  background:#fff;
  height:110px;
  width:100%;
  z-index:1;
  top:0;
  padding:20px;
  border-bottom:1px solid;
  display:none
}

.notification h2
{
  font-weight:700;
  margin-bottom:10px
}

.notification a
{
  font-weight:700;
  margin:0 10px;
  float:right;
  padding:10px
}

.notification a:hover
{
  background-color:rgba(0,0,0,0.20)
}

.notification a.charge
{
  color:#65CB87
}

.notification a.optimize
{
  color:rgba(24,160,251,0.7)
}

.wapper
{
  position:relative;
  box-sizing:border-box;
  margin:0 auto
}

header
{
  display:block;
  margin-bottom: 0px;
  border-bottom: 1px solid #ccc;
  padding-top:40px;
}

header .top
{
  display: block;
  height: 40px;
}

header .setting
{
  position:absolute;
  top:10px;
  right:20px;
  cursor:pointer
}

header .carinfo
{
  width: 70%;
  margin: 0 auto;
  position: absolute;
  top: 10px;
  left: 50px;
  color: #000;
  font-size: 90%;
}

header .status
{
  width: 90%;
  display: block;
  margin: 0 auto;
  color: #666;
}

header .status > div
{
  width: 50%;
  text-align: center;
  padding: 10px 0;
}

header .status .left
{
  float: left;
}

header .status .right
{
  float: right;
}

header .status h2
{
  font-size: 17px;
  text-decoration: underline;
  line-height: 30px;
}

header .status h1
{
  font-size: 28px;
}

header .status img
{
  width: 80%;
}

header .status .charge
{
  width: 100%;
  color: #999;
  margin-top: 10px;
}
/* Begin Tab */
/* End Tab */
main
{
  height:auto;
  display:block;
  margin-bottom:30px
}

main .profile
{
  text-align:left;
  margin-bottom:30px
}

main .profile .option
{
  border: 1px solid #5AD282;
}

main .profile .active
{
  border: 1px solid rgba(24,160,251,0.7);
}

main .profile > div
{
  position: relative;
  width:90%;
  height:80px;
  padding:10px;
  box-sizing:border-box;
  line-height:20px;
  cursor:pointer;
  margin: 0px auto 20px;
  border: 1px solid #ccc;
}

main .profile .icon img
{
  position: absolute;
  width: 50px;
}
main .profile .icon img.tree
{
  bottom: 10px;
  right: 10px;
}
main .profile .icon img.save
{
  width: 50px;
  bottom: 10px;
  right: 70px;
}

main .profile > div:hover
{
  background-color:rgba(0,0,0,0.30)
}

main .profile .user-3
{
  margin-bottom: 10px;
}

main .profile .label
{
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

main .profile .detail
{
  font-size: 12px;
  line-height: 14px;
}

main .percent .bar div
{
  padding:10px 0 10px 20px;
  color:#fff
}

main .percent .bar
{
  width:80%;
  display:block;
  height:35px;
  background:rgba(231,231,231,0.7);
  border:1px solid #939393;
  border-radius:30px;
  margin:0 auto;
}

main .status
{
  width:80%;
  margin:30px auto
}

main .status h3
{
  font-weight:700;
  font-size:22px;
  line-height:26px;
  color:#65CB87
}

main .status div
{
  font-weight:500;
  font-size:18px;
  line-height:23px
}

main .log
{
  margin-top: 10px;
}
main .log .label {
    font-weight: bold;
    top: 8px;
    position: relative;
    left: 20px;
    background-color: #fff;
    display: inline-block;
    padding: 0px 10px;
}
main .log .detail
{
  border: 1px solid #ccc;
}

main .log .detail ul
{
  padding-left: 20px;
  margin: 15px 0 10px 0px;
}

main .log .detail ul li
{
  line-height: 16px;
  font-size: 14px;
}

footer
{
  display:block;
  text-align:center
}
.profile .chargenow
{
  font-size:24px;
  line-height:28px;
  color:#65CB87;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 10px;
  border-width: 0px;
}
footer .chargenow
{
  font-size:20px;
  line-height:28px;
  color:#e74c3c;
  border: 1px solid #ccc;
  padding: 5px;
}

.refresh {
    font-size: 16px;
    line-height: 23px;
    color: rgba(24,160,251,0.7);
    text-align: right;
    margin: 0 20px;
    display: block;
    font-weight: bold;
}

#dialog h3
{
  color:#65CB87;
  font-weight:700;
  line-height:35px
}

#dialog p
{
  line-height:18px;
  text-indent:30px;
  margin-bottom:10px
}


@media (min-width: 801px) {
  body
  {
    background:url(../image/iphone.png);
    background-repeat:no-repeat;
    background-size:500px 790px;
    background-position:center 15px
  }

  header
  {
    padding-top:0px;
  }

  .wapper
  {
    width:450px;
    margin-top:70px;
    border-radius:30px;
    padding:30px
  }

  .notification
  {
    position:absolute;
    background:#fff;
    height:110px;
    width:430px;
    z-index:1;
    top:0;
    padding:20px;
    border-bottom:1px solid;
    display:none;
    left:10px
  }

  .nav
  {
    left:10px
  }
}